<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
	<spring>
		<!--在指定文件中配置-->
		<context>
			<resource uri="config://spring/objects"/>
			<resource uri="file://services.xml"/>

		</context>
		<!--直接在配置文件中配置-->
		<objects xmlns="http://www.springframework.net">
			<!--<description>An  example that demonstrates simple IoC features.</description>
			<object name="UserInfo" type="Spring.Net.Demo.UserInfo,Spring.Net.Demo">
				<property name="str" value="zhangsan"/>
				<property name="Person" ref="Person"/>
			</object>
			<object name="Person" type="Spring.Net.Demo.Person, Spring.Net.Demo">
				<property name="Age" value="16"/>
			</object>-->
		</objects>
	</spring>
</configuration>
